.git
.gitignore
.env
.env.*
!.env.example
vendor
node_modules
npm-debug.log
docker-compose.yml
Dockerfile
.dockerignore
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/phpstan
.phpunit.result.cache
phpunit.ci.xml
